:root {
	--material-red: #E62B1E;
	--material-dark: #212121;
}

body {
	font-family: 'Helvetica';
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(img/home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.navbar {
  background: var(--material-red);
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
}

.navbar-nav {
  text-align: right;
}

.navbar-brand {
  margin-top: -20px;
}

.navbar-brand img {
  height: 100px;
  background-color: black;
  padding: 10px;
}

.navbar-collapse {
  border: 0;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-family: 'Oswald';
  padding: 15px;
  color: white !important;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 5px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
  color: var(--material-dark);
}

nav.shift ul li a {
  position:relative;
  z-index: 1;
}

nav.shift ul li a:hover {
  color: var(--material-dark);
}

nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: var(--material-dark);
  visibility: none;
  opacity: 0;
  z-index: -1;
}

nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.active > a {
	background-color: var(--material-dark) !important;
}

.navbar-toggle {
  background-color: black;
  border: 0;
}

.icon-bar {
	background-color: var(--material-red) !important;
}

.logistics {
	position: absolute;
	z-index: 1;
	color: white;
	top: 40vh;
	left: -10vw;

	height: 50vh;
	width: 60vw;

	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(img/Banner_overlay.png);
  	background-repeat: no-repeat;
  	background-size: cover;
}

.carousel-one {
  margin: 0px 0px 0px 0px !important;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/Website_banner_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}

.carousel-two {
  margin : 0px 0px 0px 0px !important;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/Website_banner_2.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}

.carousel-three {
  margin : 0px 0px 0px 0px !important;
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/Website_banner_3.png);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}

.white-text {
	color: white !important;
}

#countdown {
	color: var(--material-red);
	font-weight: bold;
	font-size: 32px;
}

.mailing-list {
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
}

.form-group {
	margin-left: 20px;
	margin-right: 20px;
}

a {
	color: var(--material-red);
}

a:visited, a:active, a:focus {
	color: var(--material-red);
}

a:hover {
	color: black;
}

.speakers {
	color: white;
	padding-top: 10px;
	padding-bottom: 30px;
}

.slider-wrapper {
	padding: 0;
}

.speaker-image {
	object-fit: cover;
	height: auto;
	width: 100%;
	max-height: 400px;
	margin-bottom: 10px;
}

.speaker-text {
	margin-bottom: 5px;
}

.about {
	padding-top: 10px;
	padding-bottom: 30px;
	color: white;
}

.about > .row > .row {
	padding: 0;
	margin: 0;
}

.about-ted {
	padding-left: 0;
}

.about-tedx {
	padding-right: 0;
}

.red-text {
	color: var(--material-red);
}

.about-ted-text {
	padding-left: 0;
}

.about-tedx-text {
	padding-right: 0;
}

.past-events {
	padding-top: 10px;
	padding-bottom: 30px;
	color: white;
}

.past-event-image {
	object-fit: cover;
	height: auto;
	width: 100%;
	max-height: 200px;
}

.testimonials {
	padding-top: 10px;
	padding-bottom: 30px;
	background-color: var(--material-red);
	color: white;
}

.testimonial-wrapper {
	padding: 15px;
}

.team {
	padding-top: 10px;
	padding-bottom: 30px;
	color: white;
}

.team-image {
	object-fit: cover;
	height: auto;
	width: 100%;
	max-height: 300px;
	margin-bottom: 10px;
}

.footer {
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: var(--material-dark);
}

.footer-link {
	color: var(--material-red) !important;
}

.footer-link:visited, .footer-link:active, .footer-link:focus {
	color: var(--material-red) !important;
}

.footer-link:hover {
}

.footer-image {
	max-width: 100%;
	padding-left: 40px;
	padding-right: 40px;
}

.footer-col-1 {
	padding-left: 40px;
}

.footer-link-wrapper {
	margin-top: 12px;
	margin-bottom: 12px;
}

@media screen and (max-width: 767px) {
	.logistics {
		top: 40vh;
		left: -27vw;

		height: 50vh;
		width: 120vw;
	}

	.speaker-image {
		max-height: 80px;
		margin-bottom: 0;
	}

	.speaker-text {
		margin-bottom: 0;
	}

	.about-ted {
		padding-left: 15px;
	}

	.about-tedx {
		padding-right: 15px;
	}

	.about-ted-text {
		padding-left: 15px;
	}

	.about-tedx-text {
		padding-right: 15px;
		margin-top: 20px;
	}

	.about-image {
		width: 100%;
		height: auto;
	}

	.past-event-image {
		max-height: 50px;
	}

	.team-image {
		max-height: 80px;
		margin-bottom: 0;
	}

	.footer-col-1 {
		padding-left: inherit;
	}

	.footer {
		text-align: center !important;
	}

	.footer-link-wrapper {
		margin-bottom: 0;
	}
}